.nav-link {
    color: white !important; /* Default color */
    text-decoration: none !important; /* Remove underline */
}
    /* Hover state */
    .nav-link:hover {
      color: #fbbd02 !important;
    }
  
    /* Active state */
    .nav-link:active {
      color: #fbbd02 !important;
    }
