.cardhover{
     background-color: aliceblue;

}
.cardhover:hover{
     background-color:white;
     transform: scale(1.01);
     height: auto;
     
}
.cardhover {
     height: auto; /* Set a fixed height for all cards */
     display: flex;
     flex-direction: column;
     margin-top: 12px;
     margin-right: 22px;
     box-shadow: 2px 2px 0px 0px rgb(161, 160, 160);
     
   }
   
   .cardhover .card {
     flex: 1; /* Make all cards have equal height within the container */
     margin-bottom: 15px; /* Add margin between cards */
   }
  .cardhover .list-group-item {
    display: none; /* Hide list items by default */
    cursor: pointer; /* Change cursor on hover (optional) */
    height: auto;
    border: none;
  }
  
  .cardhover .list-group-item:hover {
    background-color: orange; /* Background color on hover */
    color: purple; /* Text color on hover */
    cursor: pointer; /* Change cursor on hover (optional) */
    height: auto;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
  }
  
  /* Additional styles for showing list items on card hover */
  .cardhover:hover .list-group-item {
    display: block;
    height: auto;
  }
  