@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fcfcfc;
}
a:hover {
  text-decoration: none;
}


.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  background-color: #fef7e5;
  position: relative;
  font-family: "kuka-bulo", Calibri, Segoe UI, Helvetica, Arial, Sans-Serif;
}

.logo {
}

.menu-icon {
  display: none;
}

.nav-elements {
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a:hover {
  font-size: 16px;
  font-weight: 600;
  color: #6f309d;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}

.whatWeDo {
  text-align: left;
}
.whatWeDo h2 {
  font-size: 55px;
  color: #6f309e;
  font-weight: 500;
}

.whatWeDo p {
  font-size: 22px;
  text-align: justify;
  color: black;
  font-family: "kuka-bulo", Calibri, Segoe UI, Helvetica, Arial, sans-serif;
}
.whatWeDo .button-1 {
  color: #fff;
  border: 3px solid #6f309e !important;
  background-image: -webkit-linear-gradient(
    30deg,
    #6f309e 50%,
    transparent 50%
  );
  background-image: linear-gradient(30deg, #6f309e 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  --webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.whatWeDo .button-1:hover {
  background-position: 100%;
  color: #6f309e;
}

/* Home Technology  */

/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

.np {
    padding: 0px;
}

.featuredPropBox {}

.featuredPropBox ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: outside none none;
    padding: 0;
}

.featuredPropBox ul li {
  background-color: #eeeeee;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  height: 270px;
  margin: 10px 15px;
  width: 380px;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
  padding: 15px;
}

.featuredPropBox ul li:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(22, 22, 22, 0.6);
    transition: all 0.3s;
}

.featuredPropBox ul li:nth-child(1) {
    background-image: url('https://i.ibb.co/ZmtmLGK/a.jpg');
}

.featuredPropBox ul li:nth-child(2) {
    background-image: url('https://i.ibb.co/pzGysVS/b.jpg');
}

.featuredPropBox ul li:nth-child(3) {
    background-image: url('https://i.ibb.co/QMrtWT1/c.jpg');
}

.featuredPropBox ul li:nth-child(4) {
    background-image: url('https://i.ibb.co/DL5pvY6/bg-1-2.jpg');
}

.featuredPropBox ul li:nth-child(5) {
    background-image: url('https://i.ibb.co/FWV1BJG/bg-1.jpg');
}
.featuredPropBox ul li:nth-child(6) {
    background-image: url('https://i.ibb.co/ZXmWmSZ/14.jpg');
}

.featuredPropBox ul li:nth-child(7) {
    background-image: url('https://i.ibb.co/hLcmWbT/15646.jpg');
}

.featuredPropBox ul li:nth-child(8) {
    background-image: url('https://i.ibb.co/89P5rTs/15678.jpg');
}

.featuredPropBox ul li:nth-child(9) {
    background-image: url('https://i.ibb.co/RhZgpSG/20845.jpg');
}

.featuredPropBox ul li .fplogo {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    z-index: 1;
    transition: all 0.3s;
}

.featuredPropBox ul li .fplogo img {
    width: 100%;
}

.featuredPropBox ul li .fptext {
    display: none;
    font-size: 16px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease 0s;
    width: 65%;
    z-index: 1;
}

.featuredPropBox ul li .fptext p {
    color: #fff;
    margin: 0px;
}

.featuredPropBox ul li:hover {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0.2) inset;
}

.featuredPropBox ul li:hover:after {
    background-color: rgba(22, 22, 22, 0.3);
}

.featuredPropBox ul li:hover .fplogo {
    display: none;
}

.featuredPropBox ul li:hover .fptext {
    display: block;
} */


/* News  */

.post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #ffffff;
  min-width: 270px;
  height: 470px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module:hover,
.hover {
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.post-module:hover .thumbnail img,
.hover .thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.6;
}
.post-module .thumbnail {
  background: #000000;
  height: 400px;
  overflow: hidden;
}
.post-module .thumbnail .date {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background: #e74c3c;
  width: 55px;
  height: 55px;
  padding: 5.5px 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.post-module .thumbnail .date .day {
  font-size: 18px;
}
.post-module .thumbnail .date .month {
  font-size: 12px;
  text-transform: uppercase;
}
.post-module .thumbnail img {
  display: block;
  width: 120%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module .post-content {
  position: absolute;
  bottom: 0;
  background: #ffffff;
  width: 100%;
  padding: 30px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.post-module .post-content .category {
  position: absolute;
  top: -34px;
  left: 0;
  background: #e74c3c;
  padding: 10px 15px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.post-module .post-content .title {
  margin: 0;
  padding: 0 0 10px;
  color: #333333;
  font-size: 26px;
  font-weight: 700;
}
.post-module .post-content .sub_title {
  margin: 0;
  padding: 0 0 20px;
  color: black;
  font-size: 20px;
  font-weight: 400;
}
.post-module .post-content .description {
  display: none;
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}
.post-module .post-content .post-meta {
  margin: 30px 0 0;
  color: #999999;
}
.post-module .post-content .post-meta .timestamp {
  margin: 0 16px 0 0;
}
.post-module .post-content .post-meta a {
  color: #999999;
  text-decoration: none;
}
.hover .post-content .description {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}

.column .demo-title {
  margin: 0 0 15px;
  color: #666666;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.info {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}
.info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}
.info span {
  color: #666666;
  font-size: 12px;
}
.info span a {
  color: #000000;
  text-decoration: none;
}
.info span .fa {
  color: #e74c3c;
}

.aboutRoot p {
  font-size: 22px;
  text-align: justify;
  font-family: "kuka-bulo", Calibri, Segoe UI, Helvetica, Arial, sans-serif;
}
.aboutRoot {
  background: linear-gradient(to top right, #1325e8 -5%, #8f10b7 100%);
}

.img-hover-effect:hover {
  /* Add your desired styles here */
  opacity: 0.9; /* Decrease opacity on hover */
  transform: scale(1.05); /* Scale up the image on hover */
  transition: 0.3s ease-in-out; /* Add a smooth transition effect */
}

.img-zoom-out:hover {
  /* Scale down the image on hover */
  transform: scale(0.95); /* You can adjust the scale factor as needed for the desired zoom out level */
  opacity: 0.8; /* Decrease opacity on hover */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Add a smooth transition effect for both scale and opacity */
}

.container{
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.container .card{
  position: relative;
  cursor: pointer;
  --bs-card-border-color: none;
  color: White;
  
}

.container .card .face{
  width: 400px;
  height: 200px;
  transition: 0.5s;
  overflow: hidden;

}

.container .card .face.face1{
  position: relative;
  background:#6f309d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  background: url('https://i.ibb.co/pzGysVS/b.jpg') rgba(255, 255, 255, 0.1);
  height: 300px;
  border-radius: 5px;
}

.container .card:hover .face.face1{

  transform: translateY(0);
}

.container .card .face.face1 .content{
  opacity: 1;
  transition: 0.5s;

}

.container .card:hover .face.face1 .content{
  
  opacity: 1;
}

.container .card .face.face1 .content img{
  max-width: 100px;
}

.container .card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.container .card .face.face2{
  position: relative;
  background:black;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);

}

.container .card:hover .face.face2{
  transform: translateY(0);
  height: auto;
}

.container .card .face.face2 .content p{
  margin: 0;
  padding: 0;
}

.container .card .face.face2 .content a{
  margin: 15px 0 0;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
  background: #333 !important;
  color: #fff !important;
}
@media (max-width: 767px) {
  .container .card {
    width: 100%; /* Cards will take up full width on small screens */
  }
}

@media (min-width: 768px) {
  .container .card {
    width: calc(33.33% - 20px); /* Adjust for three columns with spacing */
  }
}

.solution-cutomized{
height: 270px;
    margin: 10px 60px !important;
    width: 590px !important;
}